services:
  backend:
    container_name: app-backend
    build:
      context: .
      dockerfile: ${BACKEND_DOCKERFILE:-Dockerfile}
      args:
        user: ${DOCKER_USER_ID}
        uid: ${DOCKER_GROUP_ID}
    image: app-backend
    restart: unless-stopped
    working_dir: ${BACKEND_WORKDIR}
    volumes:
      - .:${BACKEND_WORKDIR}
    ports:
      - "${BACKEND_PORT:-9000}:${BACKEND_PORT:-9000}"
    environment:
      APP_NAME: ${APP_NAME}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_URL: ${APP_URL}
    depends_on:
      - db
      - cache
    networks:
      - app-net

  nginx:
    container_name: app-nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "4000:80"
    volumes:
      - .:${BACKEND_WORKDIR}
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    networks:
      - app-net

  db:
    container_name: app-db
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  pgadmin:
    container_name: app-pgadmin
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@example.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "5050:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - app-net

  cache:
    container_name: app-cache
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - cache:/data
    networks:
      - app-net

volumes:
  db:
  cache:
  pgadmin:

networks:
  app-net:
    driver: bridge
